name: test-package

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: prepare
        run: cp -f PKGBUILD.local PKGBUILD;ls;echo $PWD
      - name: Validate package
        uses: heyhusen/archlinux-package-action@v3.0.0
        with:
          flags: '-si --noconfirm'
          namcap: false
